{% extends 'base.html' %}

{% block header %}
<section id="middle">
   <div class=" jumbotron bg-light">
       <div class="container">
           <div class="row">
           <div class="p-1 mb-2 bg-warning text-center text-white"><h1>New Events!!!</h1>
               </div>    
           </div>
           <br>
           <div class="row">
               <div class="col-md-4">
                   <div class="outer">
                       <a href="event_information.html">
                           <div class="upper">
                               <img src="pictures/mayday.jpg">
                               <div class="intext">
                                   <span>Upcoming</span>
                               </div>
                           </div>
                           <div class="lower">
                               <h2>Mayday Australia Tour</h2> 
                               <span><i class="far fa-clock">10/05/2023 7:00pm</i></span>
                               <br>
                               <span><i class="fas fa-map-marker-alt" style="color:red"></i>Qudos Bank Arena, Sydney Olmpic Park</span>
                               <br>
                               <span><i class="far fa-clock">13/05/2023 7:00pm</i></span>
                               <br>
                               <span><i class="fas fa-map-market-alt" style="color:red"></i>John Cain Arena, Melbourne</span>

                           </div>
                       </a>
                   </div>
               </div>

               <div class="col-md-4">
                   <div class="outer">
                   <a href="event_info.html">
                       <div class="upper">
                           <img src="pictures/blank.JPG">
                           <div class="intext">
                               <span>Inactive</span>
                           </div>
                       </div>
                       <div class="lower">
                           <h2>Travis Scott Raging in Brisbane</h2>
                           <span><i class="far fa-clock"></i>08/08/2023 8:00pm</span>
                           <br>
                           <span><i class="fas fa-map-marker-alt" style="color:red"></i>Suncorp Stadium</span>
                       </div>
                      </a>
                   </div>
               </div>
               <div class="col-md-4">
                   <div class="outer">
                   <a href="event_info.html">
                       <div class="upper">
                           <img src="pictures/blank.JPG">
                           <div class="intext">
                               <span>Cancelled</span>
                           </div>
                       </div>
                       <div class="lower">
                           <h2>Post Malone in Sydney</h2>
                           <span><i class="far fa-clock"></i>06/06/2023 6:00pm</span>
                           <br>
                           <span><i class="fas fa-map-marker-alt" style="color:red"></i>Sydney Olympic Park</span>
                       </div>
                   </a>
                </div>
            </div>
           </div>
       </div>
       </div>
</section>
{% endblock %}

{% block content %}   
{% endblock %}