img{
    max-width: 100%;
}

#introduction img{
    width: 180px;
}

header li{
    margin: 0 50px;
}

#middle .outer img{
    width: 100%;
}

#middle .outer{
    background: lightblue;
    box-shadow: 0 0 20px 0 rgba(2, 1, 1, 0.3);
}

#middle .upper{
    position: relative;
    margin-top: 30px;
}

#middle .intext{
    position: absolute;
    top: 24px;
    left: 14px;
}

#middle .intext span{
    padding: 10px 15px;
    background: rgb(244, 186, 39);
    border-radius: 100px;
}

#middle .lower h2{
    font-size: 30px;
}

#middle .lower span{
    font-size: 16px;
    font-style: italic;
}

#middle .lower{
    padding: 10px 10px 20px 10px;
}

#middle a{
    color: black;
}



